<td style='width:17%;' class='tdDivider text-h-center text-v-center noSelect'>
  <div data-toggle='tooltip' title='Save' class='close saveBtn'><i class='icon-ok-sign icon-large'></i></div>
  <i style='font-size: 3em; {{color}};' data-toggle='tooltip' title='{{tone}}' class='cursor-pointer tone icon-heart'>
    <span class='noSelect toneText'> {{tone}}<span>
  </i>
</td>
<td class='head'>
  <div data-toggle='tooltip' title='Close' class='close closeBtn'><i class='icon-remove-sign icon-large'></i></div>
  <h3 class='attrName' contenteditable='true' >{{name}}</h3>
</td>
