<input type='text' value='{{avgScore}}' class='pull-left idial'>
<span class='pull-left sdial'>{{summary.avgScore}} %</span>
<ul class='pull-right'>
  <li> <i class='icon-check '></i> {{summary.totalVote}} Votes</li>
  <li> <i class='icon-tags '></i> {{summary.totalAttribute}} Attributes</li>
</ul>
