<input type='text' value='{{avgScore}}' class='pull-left idial span1'>
<span class='pull-left sdial'>{{summary.avgScore}} %</span>
<ul class='pull-right'>
  <li> <i class='fa fa-tasks'></i> {{summary.totalVote}} Votes</li>
  <li> <i class='fa fa-cloud'></i> {{summary.totalAttribute}} Attributes</li>
</ul>
