<li><div class="profile profile-rounded pull-left js-profile" style="background-image: url('{{#if iconUrl}} {{iconUrl}} {{else}} http://rationalwiki.org/w/images/thumb/c/c0/Icon_anonymous.svg/200px-Icon_anonymous.svg.png {{/if}}')"></li>
