 <div class="data-point" data-id="{{dataId}}">
   <div class="ribbon">  
      <a href='#'><i class='fa fa-star'></i></a>
   </div>
   <span>{{caption}}</span>
   <img class="img-polaroid" src="{{srcUrl}}">
 </div>
