<div class=data-point data-id={{dataId}}>
  <div class=ribbon>
    <a href=#><i class=fa fa-star></i></a>
  </div>
  <div class=info>
    <span class=fieldName> {{fieldName}}</span>
    <span class=value> {{value}}</span>
  </div>
  <hr>
  <div class=source>
    <a href=#><i class=fa-info-circle></i></a>
  </div>
</div>
