<a href="{{srcUrl}}">
  <div class="profile profile-rounded pull-left js-profile" style="background-image: url('{{imgURL}}')">
  </div>
</a>
<ul class="meta pull-left">
  <li class="name">
  <a class="muted" href="{{srcUrl}}">
    <span class="title-input js-title">{{name}}</span>
  </a>
  </li>
  <li>
  {{> partial_hashtags}}
  </li>
</ul>
