<td class='tdDivider text-v-center noSelect' style='width: 30%;'> 
  <a href='#'><span class='viewRanking cursor-pointer'> {{name}}</span></a> 
  <i class='btn pull-right fa fa-share'></i> 
</td> 
<td class='head'> 
  <ul class='rankingList'> 
  </ul> 
</td>
