<div class="info-box ranking-summary">
  <div>
    <a href="#"><span class="viewRanking cursor-pointer"> #favCake</span></a>
    <i class="btn pull-right fa fa-share"></i>
    <p>{{description}}</p>
  </div>
  <div class="head">
    <ul class='rankingList'> </ul>
  </div>
</div>
