<div class="info-card" style="width: auto;" data-index="{{index}}" id="{{domiId}}">
  <div class="header">
    {{> partial_card_profile}}
    <ul class="pull-right">
      {{!--
      <li><i class="fa fa-lg fa-eye" data-original-title="View"></i> {{viewCount}} </li>
      <li><i class="fa fa-lg fa-code-fork" data-original-title="Forked"> {{forkCount}} </i></li>
      --}}
    </ul>
  </div>
  <hr style="visibility: hidden;">
</div>
