<div class="info-card" style="width: auto;" data-index="{{index}}" id="{{domiId}}">
  <div class="header">
    {{> partial_card_profile}}
    <a href="#" class="pull-right btn-like auto-highlight" style="margin-top: 25px;">
      <i class="fa fa-angle-right fa-2x"></i>
    </a>
    <div class="js-ranking" style="position: absolute; right: 25px; top: -5px;">
    </div>
  </div>
  <hr style="visibility: hidden;">
</div>
