<div class="info-card">
  <div class="header">
    <div class="profile pull-left js-profile" style="background-image: url('{{imgURL}}')"></div>
    <ul class="meta pull-left">
      <li class="name">
        <span class="title-input js-title">{{name}}</span>
      </li>
      <li class="hash">
        <span class="tag-input js-tag">{{tag}}</span>
      </li>
    </ul>
  </div>
  <hr style="visibility: none;">
</div>
