<div class="info-card" style="width: auto;padding: 0;height: 112px; margin-bottom: 20px;" data-index="{{index}}">
  <div class="header" style="
    display: flex;
    height: 112px;
    position: relative;
    ">
    <span style="
      font-size: 24px;
      float: left;
      display: block;
      vertical-align: middle;
      line-height: 112px;
      margin-left: 25px;
      text-transform: lowercase;
      ">{{name}}</span>
    <span class="pull-right" style="
      overflow: hidden;
      padding: 5px;
      margin: auto;
      font-size: 14px;
      width: 235px;">
      {{{value}}}</i>
    </span>
  </div>
</div>
