<div class="info-card" style="width: auto;padding: 0;height: 112px; margin-bottom: 20px;" data-index="{{index}}">
  <div class="header" style="
    height: 112px;
    position: relative;
    ">
    <span style="
      font-size: 24px;
      float: left;
      display: block;
      vertical-align: middle;
      line-height: 112px;
      margin-left: 25px;
      text-transform: lowercase;
      ">{{name}}</span>
    <span class="pull-right" style="
      font-size: 36px;
      display: table-row;
      display: inline-block;
      vertical-align: middle;
      line-height: 112px;
      margin-right: 25px;
      ">
      {{{info}}}</i>
    </span>
  </div>
</div>
