<div class="container" style="margin: 10px 10px 5px 0; width: 100%;">
  <div class="pull-right" style="font-size: 25px; line-height: 50px;">
    {{name}}
  </div>
  <div class="pull-left" style=" position: relative;">
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" style="width: 60px; height: 60px;">
    <circle cx="50%" cy="50%" r="50%" fill="{{color}}"></circle>
    <text x="50%" dy="50%" text-anchor="middle" dominant-baseline="central" fill="white" style="font-size: 25px;">No. {{rank}}</text>
    </svg>
  </div>
</div>
