<div class="info-card" style="width: auto;padding: 0;height: 112px; margin-bottom: 20px;" data-index="0">
  <div class="cover">
    <a href="{{srcUrl}}">
      <div class="profile pull-left js-profile" style="background-image: url('{{imgURL}}')"></div>
    </a>
  </div>
  <div class="header" style="margin-right: 0;">
    <h3 style="text-align: center; vertical-align: middle; line-height: 90px;">{{name}}</h3>    
  </div>
</div>
