<div class="interaction">
  <button class="btn btn-inverse"><i class="fa fa-signal"></i></button>
</div>
<div class="info">
  <span class="pull-left fieldName">{{name}}</span>
  <span class="pull-right value">{{value}}</span>
</div>
