<div class='interaction'>
  <a href='#' class='btn btn-success voteBtn upVote {{upVoteBtnType}}'>Yes <i class='upVote fa fa-thumbs-up'></i></a>
  <a href='#' class='btn btn-danger voteBtn downVote {{downVoteBtnType}}'>No <i class='downVote fa fa-thumbs-down'></i></a>
</div>
<div class="info">
  <span class="fieldName">{{name}}</span>
  <div class="rating goldStar pull-right">
    {{{info}}}
  </div>
</div>
