<div class="textbox" draggable="{{editing}}">
  {{#if editing}}
  <input class="title" placeholder="Title" type="text">
  <textarea placeholder="Start here"></textarea>
  <button class="btn btn-success noSelect pull-right js-save" data-loading-text="Saving...">Save</button>
  {{else}}
  <span>{{title}}</span>
  <p>{{content}}</p>
  {{/if}}
</div>
