<div id='{{id}}'>
  <button id='{{saveId}}' type='button' class='btn btn-success' style='position: relative; width: 100%;'>
    <i class='fa fa-arrow-circle-o-right'></i> Save &amp; Next
  </button>
</div>
