<th style='font-size:15px;' colspan='4'> 
  {{title}} 
  <div class='pull-right cursor-pointer'> 
    <div> 
      <a class='addNew' href='#' style='color:black;'><i title='Add New' class='fa fa-plus'> Add New</i></a> 
      <i title='Create New Ranking' class='addNewRanking fa fa-list-ol'> Rank Items</i> 
    </div> 
  </th>
