.ribbon {
  position: absolute;
  background: #e7ebf0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  height: 30px;
  width: 25px;
  top: -15px;
  right: 0px; }
  .ribbon i {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

.mediaData {
  padding-top: 5px; }
  .mediaData .ribbon {
    top: -5px !important; }
  .mediaData .data-point {
    position: relative; }
  .mediaData li {
    margin-bottom: 10px; }

.data .info {
  display: block;
  min-height: 10px; }
.data .source {
  display: block;
  height: 10px;
  margin: 0px; }
  .data .source a {
    float: right;
    margin-top: -15px; }
.data .data-point {
  position: relative; }
.data li {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  display: block;
  padding: 10px 10px 0px;
  margin: 10px; }
.data .fieldName {
  float: left; }
.data .value {
  float: right;
  margin-right: 35px; }

.textbox {
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18) ;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18) ;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18) ;
  padding: 15px;
  overflow: auto; }
  .textbox .title, .textbox span {
    outline-width: 0;
    outline: none;
    border: 1px solid transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 27px;
    height: 40px;
    line-height: 35px;
    border-bottom: 1px solid gray;
    border-radius: 0; }
  .textbox textarea, .textbox p {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    width: 97%;
    font-size: 15px;
    line-height: 27px;
    margin: 0px -14px 10px 0px;
    resize: none; }
