@import "mixins";

// remove link highliht
.btn-like {
  text-decoration: none !important;
  color: black !important;
}

.noOutline {
  outline: 0px solid transparent;
}

.highlight {
  opacity: 1;
}

.unhighlight {
  opacity: 0.5;
}

.webkit-layer {
  @include transform(translateZ(0));
}

.noSelect {
  @include no-select();
}
.noSelect:focus {
  outline: 0px solid transparent;
}

.absCenter {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.center {
  display: block;
  margin: 0 auto;
}

.cursor-pointer {
  cursor:pointer;
}

.no-shadow {
  @include box-shadow-none();
}
