@import "mixins";
@import "flex";

// Houses rankBadge
.rankContainer {
  margin-top: 25px;
}

.rankbar {
  margin-top: -5px;
  max-height: 45px;
  padding-top: 5px;

  #rankingName {
    @include box-shadow-none();
    @include border-radius(0);
    overflow-x: auto;
    border: none;
    border-bottom: 1px solid whitesmoke;
    float: left;
    font-size: 20px;
    margin-top: -5px;
    margin-right: 25px;
  }
  .rankingList li {
    position: relative;
    margin: -5px 5px 0 0;
    width: 35px;
    float: left;
  }
  .rankingListProfile li {
    position: relative;
    margin: 0px 5px 0 0;
    width: 35px;
    float: left;
  }
}

#rankingPrivacy, #rankingFork {
  float: left;
  cursor: pointer;
  margin-right: 0.5em;
  margin-top: -0.25em;
}

// Houses multiple rankbadges
.rankingContainer {
  display: block;
  position: relative;

  .rankingNo.shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.18);
  }
  .rankingNo, .rankIcon {
    font-size: 10px;
    color: white;
    position: absolute;
    width: 50%;
    height: 50%;
    margin: auto;   position: absolute;
    top: -20px; left: 0; bottom: 0; right: 5px;
  }
}

.ranking {
  margin: 5px;
  float: left;
}

.ranking-summary {
  @include flexbox;
  @include justify-content(flex-start);
  div:first-child {
    border-right: 1px solid whitesmoke;
    padding-right: 25px;
    min-width: 35%;
    max-width: 35%;
  }
  p {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    clear: both; padding-top: 25px;
  }
}
