@import "mixins";

body {
  margin: 1em;
}

ul {
  list-style-type: none;
}

.profile {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-position: center center;
  background-size: cover;
  @include border-radius(100%);
}
.profile-mini {
  width: 15px;
  height: 15px;
}

.info-card {
  position: relative;
  padding: 15px;
  width: 500px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
  margin-bottom: 50px;
  
  .header {
    overflow: auto;
    .action {
      float: right;
    }
    .meta {
      margin-left: -15px;
      .name {
        font-size: 25px;
      }
      .hash {
        font-size: 12px;
        color: gray;
      }
    }
  }
  .content {
    @include border-radius(10px);  
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.18);
    padding: 10px;
    margin-bottom: 25px;
    overflow: auto;
    .meta {
      margin: -15px 5px;
      float: right;
      color: gray;
      font-size: 12px;
    }
  }
  
  .footer {
    margin-left: -16px;
    position: absolute;
    background: #f5f5f5;
    height: 30px;
    width: 502px;
    padding: 5px 15px 5px 5px;
  }
}
