@import "mixins";

body {
  margin: 1em;
}

ul {
  list-style-type: none;
}

.profile {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-position: center center;
  background-size: cover;
  @include border-radius(100%);
}
.profile-mini {
  width: 15px;
  height: 15px;
}

.info-card {
  @include box-shadow(0, 0, 1px, rgba(0, 0, 0, 0.35));
  position: relative;
  padding: 15px;
  width: 500px;

  .header {
    overflow: auto;
    .action {
      float: right;
      li { 
        float: left;
        margin: 0 5px;
      }
    }
    .meta {
      .name {
        font-size: 25px;
      }
      .hash {
        font-size: 12px;
        color: gray;
      }
    }
  }
  .content {
    @include border-radius(10px);
    @include box-shadow(0, 0, 2px, rgba(0, 0, 0, 0.18));
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    overflow: auto;
    .meta {
      margin: -15px 5px;
      float: right;
      color: gray;
      font-size: 12px;
    }
    .instruction {
      padding-top: 25px;
      text-align: center;
      display: block;
      margin: 0 auto;
      font-size: 25px;
      color: gray;
    }
  }
  .content.editing {
    border: 5px dashed whitesmoke;
    height: 150px;
  }
  .content-highlight {
    @include box-shadow(0, 2px, 6px,rgba(0,0,0,0.2),inset);
  }
  .footer {
    @include box-shadow(0, 0, 1px, rgba(0, 0, 0, 0.35));
    margin: 15px -15px;
    position: absolute;
    background: #f5f5f5;
    width: 510px;
    padding: 10px 15px 5px 5px;

    .edit-tool {
      margin: -3px 2px 0 2px;
    }
  }
}
