@import "common";
@import "mixins";

.sa-editor {
  @extend .webkit-layer;
  @include transform(translate(150%, 10%));
  position: fixed;
  display: block;
  background-color: white;
  z-index: 9999;
  .body {
  }
}
