body {
  background: url(http://cloverite.com/static/img/cream_dust_@2X.png); /*From SubtlePatterns.com*/
  -webkit-tap-highlight-color: rgba(0,0,0,0);  
}

textarea {
  resize: none;
}

/*Searchform*/
#searchForm {
  margin: 1em 0 1em 0;
}
.searchBar {
  background: rgb(105, 213, 71);
}
.searchBar:hover {
  opacity: 0.98;
}
.searchBar:focus {
  width: 275px;
  transition: width 0.25s;
  -webkit-transition: width 0.25s;
  transition-property: width;
  transition-duration: 0.25s;
  transition-timing-function: linear;
}

.attrSearchInput {
  width: 7em;
}

/*login form*/
.custom-form {
	padding: 1.5em;
	max-width: 45em;
	margin: 0 auto;
	background: #fff;
	border: 1px solid rgba(0, 0, 0, 0.150);
	overflow: hidden;

	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
}
.form-signin {
  background-color: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  margin: 0 auto 20px;
  max-width: 300px;
  padding: 19px 29px 29px;
}

/* Header */
.logo {
  content: ' 2006';
  position: relative;
  height: 0.095em;
  box-shadow: 0.35em 0.35em 0 0.25em rgb(0, 187, 22), 1.05em 0.35em 0 0.25em rgb(173, 255, 0), 0.35em 0.97em 0 0.25em rgb(98, 244, 0), 1.05em 0.97em 0 0.25em rgb(27, 206, 3);
  border-radius: 1px;
  display: block;
  width: 7px;
  left: 4.5em; 
  top: -10px;
}
.subtle {
  opacity: 0.25;
}
.subtle:hover {
  opacity: 0.75;
}
.home-btn {
  font-size: 32px;
  margin: 15px 0px 10px 0px;
  padding-right: 3em;
}
.head-nav {
  margin-top: 8px !important;
  font-size: 17px;
}

/* Custom container */
.container-narrow, .container-footer {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 2em 0 2em;
  }
  .container-narrow > hr {
    margin: 30px 0;
  }
  .container-landing {
    margin: 0 auto;
}
.sideMenuContainer {
  margin: 1em 0 0 1em;
  display: none;
  }
  .sideMenuHomeBtn {
    padding-top: 0.4em;
    display: block;
    color: gray;
    margin-bottom: 0.5em;
    font-size: 32px;
  }
  .item {
    color: gray;
    cursor: pointer;
  }
  .item>i {
    margin-right: 1em;
}

/* Main marketing message and sign up button */
.jumbotron {
    /*margin: 60px 0;*/
    padding: 0;
    text-align: center;
    min-height: 850px;
  }
  .jumbotron h1 {
      padding-top: 1em;
      font-size: 72px;
      line-height: 1;
  }
  .jumbotron-btn {
      font-size: 21px;
      padding: 14px 24px;
  }
  .jumbotron-alternate {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.18);
    background: white;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
  }
  .marketing p + h4 {
    margin-top: 28px;
}

/* General */
.block {
  display: block;
}

.entityTitle {
  font-size: 24px;
  float: left;
  width: 10.5em;
}

ul {
  list-style-type: none;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noSelect:focus {
  outline: 0;
}

.absCenter {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.center {
  display: block;
  margin: 0 auto;
}
.text-h-center {
  text-align: center !important;
}
.text-v-center {
  vertical-align: middle !important;
}

.break {
  visibility: hidden;
  clear: both;
  height: 3em;
}
.break-mini {
  height: 1em;
}
.break-large {
  height: 5em;
}
.tabpane {
  margin:0 1em 0.5em 1em;
}

.toolbar {
  position: fixed;
  top: 50%;
  left: 95%;
  height: 10em;
  border: 2px dashed gray;
  background: whitesmoke;
  padding: 1em;

  -webkit-transition: left;
  -webkit-transition-duration:0.2s;
  -webkit-transition-timing-function:linear;
  -webkit-transition-delay:0s; 
  -moz-transition: left;
  -moz-transition-duration:0.2s;
  -moz-transition-timing-function:linear;
  -moz-transition-delay:0s; 
}
.toolbar:hover {
  left: 92%;
}

.footer, .footer a {
  padding: 15px 0 60px;
  color: #a7a9aa;
  text-shadow: 0 1px 0 #fff;
}

.stats {
  position: absolute;
  left: 50%;
  margin-top: 1em;
}

#commentContainer {
  overflow-y: visible;
  position: relative;
}

.comment {
  -webkit-transition: color;
  -webkit-transition-duration:0.2s;
  -webkit-transition-timing-function:linear;
  -webkit-transition-delay:0s; 
  -moz-transition: color;
  -moz-transition-duration:0.2s;
  -moz-transition-timing-function:linear;
  -moz-transition-delay:0s; 
  padding: 1em;
  }

  .comment:hover {
    color: rgb(204, 204, 204);
  }

  .commentInfo {
    font-size: 12px;
    height: 1em;
  }

  .cmtDownVote {
    color: #EE796C;
  }

  .cmtUpVote {
    color: #66EBA0;
}

.bottom {
  position: absolute;
  bottom: 0;
}

/*Scrollbar override*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
  background: rgba(196, 196, 196, 0.8);
}

/*Overriding BootStrap*/
.navbar-fixed-top .container {
  min-height: 4.5em;
}
.navbar .brand {
  padding: 0px;
}
.navbar .btn {
  margin-top: 12px;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.001;
}

.modal {
  top: 20% !important;
}

.rankbar {
  margin-top: -20px;
  max-height: 45px;
  padding-top: 5px;
  }
  #rankingName {
    float: left !important;
    margin-right: 25px;
    border-bottom: 1px dashed pink;
  }
  #rankingList li {
    position: relative;
    margin: -5px 5px 0 0;
    width: 35px;
    float: left;
}

.rankingContainer {
  display: block;
  position: relative;
  }
  .rankingNo.shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.18);
  }
  .rankingNo {
    font-size: 10px;
    color: white;
    position: absolute;
    width: 50%;   
    height: 50%;
    overflow: auto;   margin: auto;   position: absolute;   
    top: -5px; left: 0; bottom: 0; right: 0;
  }

.navbar-inner {
  background-color:white;
  min-height: 40px;
  background-image:none;
  border: none;
}
.plain-btn {
  background: none;
}
.cursor-pointer {
  cursor:pointer;
}
.progress {
  height: 2px;
  margin: 0;
}
.btn-success {
  background:#2ecc71;
}
.btn-danger {
  background: #e74c3c;
}
.btn-success:hover {
  background-color: #66EBA0;
}
.btn-danger:hover {
  background-color: #EE796C;
}

/*Random*/
.focusOnHover {
  opacity: 0.5;
}
.focusOnHover:hover {
  opacity: 1;
}
.icon-ok-sign:hover {
  color: lime;
}
.icon-remove-sign:hover {
  color: red;
}
.debug {
  border: 1px solid red;
  display: block;
  width: 100%;
  height: 100%;
}

/* Discussion Timeline
 */
.timeline {
  vertical-align: middle;
  height: 110%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  width: 7px;
  background: rgba(150, 250, 190, 0.25);
}

/*Fix for Chrome slow scroll*/
.navbar-fixed-top {
  -webkit-transform: translateZ(0); 
}
