body {
  padding-top: 20px;
  background: url(http://cloverite.com/static/img/cream_dust_@2X.png);
  /*From SubtlePatterns.com*/
}

.logo {
  content: ' 2006';
  position: relative;
  height: 0.095em;
  box-shadow: 0.35em 0.35em 0 0.25em rgb(0, 187, 22), 1.05em 0.35em 0 0.25em rgb(173, 255, 0), 0.35em 0.97em 0 0.25em rgb(98, 244, 0), 1.05em 0.97em 0 0.25em rgb(27, 206, 3);
  border-radius: 1px;
  display: block;
  width: 7px;
  left: 15%;
  top: -10px;
}

.subtle {
  opacity: 0.25;
}
.subtle:hover {
  opacity: 0.75;
}

/*Searchform*/
#searchForm {
  margin: 1em 0 1em 0;
}
#searchBtn {
  background: rgb(105, 213, 71);
}
#searchBtn:hover {
  opacity: 0.98;
}

/* Header */
.home-btn {
  font-size: 32px;
  margin: 15px 0px 10px 0px;
  padding-right: 3em;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 1000px;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    margin: 60px 0;
    text-align: center;
}
.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
  }
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

ul {
    list-style-type: none;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center {
    display: block;
    margin: 0 auto;
}

.break {
    visibility: hidden;
    clear: both;
    height: 3em;
}
.break-mini {
  height: 1em;
}
.break-large {
  height: 5em;
}

.tabpane {
  margin:0 1em 0.5em 1em;
}

.toolbar {
    position: fixed;
    top: 50%;
    left: 95%;
    height: 10em;
    border: 2px dashed gray;
    background: whitesmoke;
    padding: 1em;

    -webkit-transition: left;
    -webkit-transition-duration:0.2s;
    -webkit-transition-timing-function:linear;
    -webkit-transition-delay:0s; 
    -moz-transition: left;
    -moz-transition-duration:0.2s;
    -moz-transition-timing-function:linear;
    -moz-transition-delay:0s; 
}
.toolbar:hover {
    left: 92%;
}

.footer, .footer a {
  padding: 15px 0 60px;
  color: #a7a9aa;
  text-shadow: 0 1px 0 #fff;
}

.stats {
  position: absolute;
  left: 50%;
  margin-top: 1em;
}

/*Scrollbar override*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: whitesmoke;
}
::-webkit-scrollbar-thumb {
  background: rgba(196, 196, 196, 0.8);
}

/*Overriding BootStrap*/
.navbar-fixed-top .container {
}

.navbar .brand {
  padding: 0px;
}

.navbar .btn {
  margin-top: 12px;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.001;
}

.navbar-inner {
  background-color:white;
  min-height: 40px;
  background-image:none;
  border: none;
}

.plain-btn {
  background: none;
}
.cursor-pointer {
  cursor:pointer;
}

/*Fix for Chrome slow scroll*/
.navbar-fixed-top {
  -webkit-transform: translateZ(0); 
}
