/*
  Table CSS
*/

@-moz-document url-prefix() {
  td h4 {
    position: static !important;
  }
}

td h4 {
  margin-top: -5px;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

  line-height: 32px;
  display: block;
  color: #fff;
  orphans: 2;
  vertical-align: top;
  width: 100%;
  position: absolute;
  left: 0;
  margin-top: -9px;
}

.brick {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.tdDivider {
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
}

.rankingTable td {
  background-size: cover !important;
  background-repeat: no-repeat;
  position: relative;
}

.head {
  text-align: center !important;
  position: relative;
}

.body {
  width: 40%;
}
.body div {
  overflow-y: hidden;
  height: 120px;
}
.stat {
  width: 25%;
}
.statList {
  margin: 0;
}

/** Card */
.table {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
}

.vote > li {
  float: right;
}

.outer {
  width: 100%;
  text-align: center;
}
.inner {
  display: inline-block;
  max-width: 40em;
  width: 95%;
}

.card:hover {
  border-color: gray;
}
.card, .rankingTable {
  position:relative;
  margin-bottom: 1.5em;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.150);

  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);

  /*
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  */

  -webkit-transition: border-color;
  -webkit-transition-duration:0.2s;
  -webkit-transition-timing-function:linear;
  -webkit-transition-delay:0s; 

  -moz-transition: border-color;
  -moz-transition-duration:0.2s;
  -moz-transition-timing-function:linear;
  -moz-transition-delay:0s; 
}
.cardSize {
  max-width: 35em;
}
.card-title {
  font-size: 14px;
  text-align: center;
  margin-bottom: -1px;
  word-wrap: break-word;
}
.card-title:focus {
  border: 1px dashed pink;
  outline: none;  
}
.card-header-btn, .ad-header-btn {
  cursor: pointer;
  position: absolute;
  top: 7px;
}
.card-header-left {
  left: 10px;
}
.card-header-right {
  right: 0.5em;
  visibility:hidden;
}

.ad-header-right {
  left: 90%;
}
.entityDetail {
}
.contentContainer {
  min-height: 10em;
  min-width: 100%;
  }

  .attrContent {
    max-height: 12em;
    overflow: hidden;
  }

  .attrContent:hover {
  }

  .card-content {
    text-align: left;
    min-height: 10em;
  }
  
  .actions {
    position: absolute;
    bottom: 1em;
  }
  .editBar {
    position: absolute;
    display: none;
    top: 5em;    
  }

  .cardStack:before {
   z-index: -1;
   position: absolute;
   top: -2px;
   left: 0;
   content: '';
   width: 100%;
   height: 100%;
   background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.150);

   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.19);

   -webkit-transform: rotate(1deg);
   -moz-transform: rotate(1deg);
   -o-transform: rotate(1deg);
   -ms-transform: rotate(1deg);
   transform: rotate(1deg);
 }
 .cardStack:after {
   z-index: -2;
   position: absolute;
   top: 1px;
   left: -2px;
   content: '';
   width: 100%;
   height: 100%;
   background-color: #fff;
   border: 1px solid rgba(0, 0, 0, 0.150);

   -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);

   -webkit-transform: rotate(359deg);
   -moz-transform: rotate(359deg);
   -o-transform: rotate(359deg);
   -ms-transform: rotate(359deg);
   transform: rotate(359deg);
 }
 .overlay {
  background: black;
  position: absolute;
  left: 2em;
  top: 6em;
  height: 10em;
  width: 10em;
}

.post {
   clear: both;
   position: relative;
   background-color: #fff;
   -webkit-box-shadow: 0 1px 3px rgba(100, 100, 100, 0.4), 0 0 40px rgba(100, 100, 100, 0.1) inset;
   -moz-box-shadow: 0 1px 3px rgba(100, 100, 100, 0.4), 0 0 40px rgba(100, 100, 100, 0.1) inset;
   box-shadow: 0 1px 3px rgba(100, 100, 100, 0.4), 0 0 40px rgba(100, 100, 100, 0.1) inset;
}
.post:hover .folded-corner, .Hover {
    border-width: 0 40px 40px 0;
}

.imgPlaceholder {
    display: block;
    padding: 0.55em 0.75em 0.55em 0.75em;
}

.photo {
}
.photo .folded-corner {
    background: hsla(260,5%,75%,0.5);
}

.description {
  font-size: 12px;
  color: gray;
  margin: 0 1em;
  text-align: left;
  word-wrap: break-word;
}

.voteBtn, .headBtn {
  margin: 0 0.5em 0 0.5em;
  width: 3.5em;
}

.closeBtn {
  position: absolute;
  top: -12px;
  left: 99%;
}
.saveBtn{
  position: absolute;
  top: -12px;
  left: -15px;
}
.attrSaveBtn {
  float: left;
  margin: -0.75em;
}
.attrCloseBtn {
  margin: -0.75em;
}

.editImgBtn {
    visibility:hidden; 
    position:absolute; 
    margin: 1em;
}

.editBox {
  margin-left: -6px;
  height: 7em;
  width: 100%;
}
.profileimg {
  width: 100%;
}
.profileMenu {
  margin-top: -1em;
}

.page-curl {
  width: 83%;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  -moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  margin: 0.5em auto;
  padding: 10px;
  background: white;
}
.summary {
  padding: 1em 1em 0 1em;
  margin-top: -25px;
  }
  .summary ul {
    font-size: 11px;
    padding-top: 22px;
    text-align: left;
}

.tagsContent {
  margin-top: 0.5em;
}
.profileContent {
}

.tagBullet {
 position: absolute;
 margin-top: 0.5em;
 left: 0;
 }

 .tagBullet.cardView {
    left: 1em;
}

.editHighlight {
    border: 3px dashed pink;
}
.editHighlight:hover {
    border-color: pink;
}

.toneText {
  font-size: 14px;
  display: block;
}

/**
  Detail
*/
.entityStats {
  margin-top: 0.5em;
}
.entityStats li {
  float: left;
  margin: 5px 0 0 1em;
  font-size: 15px;
}
.attribute-simple {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  display: block;
  padding: 5px;
  margin-bottom: 1em;
  border: 1px solid rgba(0, 0, 0, 0.150);
}
