
.ribbon {
  position: absolute;
  background: #e7ebf0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  height: 30px;
  width: 25px;
  top: -15px;
  right: 0px; }
  .ribbon i {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }

.mediaData {
  padding-top: 5px; }
  .mediaData .ribbon {
    top: -5px !important; }
  .mediaData .data-point {
    position: relative; }
  .mediaData li {
    margin-bottom: 10px; }

.data .info {
  display: block;
  min-height: 10px; }
.data .source {
  display: block;
  height: 10px;
  margin: 0px; }
  .data .source a {
    float: right;
    margin-top: -15px; }
.data .data-point {
  position: relative; }
.data li {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
  display: block;
  padding: 10px 10px 0px;
  margin: 10px; }
.data .fieldName {
  float: left; }
.data .value {
  float: right;
  margin-right: 35px; }

.btn-like {
  text-decoration: none !important;
  color: black !important; }

.scroll-container {
  overflow: hidden; }

.noOutline {
  outline: 0px solid transparent; }

.highlight {
  opacity: 1; }

.unhighlight {
  opacity: 0.5; }

.webkit-layer {
  transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0); }

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.noSelect:focus {
  outline: 0px solid transparent; }

.absCenter {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.center {
  display: block;
  margin: 0 auto; }

.cursor-pointer {
  cursor: pointer; }

.no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.subtle {
  opacity: 0.25; }

.subtle:hover {
  opacity: 0.75; }

.addContentContainer {
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) ;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) ;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) ; }

.addContentType {
  padding-top: 5px;
  margin-bottom: 0px;
  text-align: center; }
  .addContentType li {
    display: inline-block;
    width: 90px;
    margin: 0.5em; }
  .addContentType .contentType a {
    text-decoration: none;
    color: black; }

.addContentBox {
  padding: 1em; }
  .addContentBox textarea {
    width: 97%; }
  .addContentBox .add-on {
    width: 100px; }
  .addContentBox .field {
    float: left;
    width: 100px;
    margin-top: 5px; }

.triangle, .downTriangle, .upTriangle {
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  position: absolute;
  width: 0;
  height: 0;
  margin-top: -25px;
  margin-left: 100px; }

.triangleBorder, .downTriangleBorder, .upTriangleBorder {
  position: absolute;
  margin-top: -25px;
  margin-left: 98px;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent; }

.downTriangle {
  border-top: 15px solid white; }

.downTriangleBorder {
  border-top: 17px solid #e3e3e3; }

.upTriangle {
  -webkit-transition: margin-left 1s ease-in-out;
  -moz-transition: margin-left 1s ease-in-out;
  -ms-transition: margin-left 1s ease-in-out;
  -o-transition: margin-left 1s ease-in-out;
  transition: margin-left 1s ease-in-out;
  margin-top: -15px;
  margin-left: 115px;
  border-bottom: 15px solid white; }

.upTriangleBorder {
  -webkit-transition: margin-left 1s ease-in-out;
  -moz-transition: margin-left 1s ease-in-out;
  -ms-transition: margin-left 1s ease-in-out;
  -o-transition: margin-left 1s ease-in-out;
  transition: margin-left 1s ease-in-out;
  margin-top: -17px;
  margin-left: 113px;
  border-bottom: 17px solid #e3e3e3; }

#searchForm {
  margin: 1em 0 1em 0; }
  #searchForm .searchBar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
    -webkit-transition: width;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: linear;
    -webkit-transition-delay: 0s;
    -moz-transition: width;
    -moz-transition-duration: 0.2s;
    -moz-transition-timing-function: linear;
    -moz-transition-delay: 0s;
    border: none;
    border-bottom: 1px solid #dbdbdb;
    font-family: FontAwesome;
    opacity: 0.5; }
  #searchForm .searchBar:hover {
    opacity: 1; }
  #searchForm .searchBar:focus {
    opacity: 1;
    width: 275px; }

#message-box {
  margin: 2em 5em 0 5em; }
  #message-box #searchTerm {
    color: #EE796C;
    font-weight: bold; }

.home-btn {
  font-size: 32px;
  margin: 15px 0px 10px 0px;
  padding-right: 1em; }

.head-nav {
  margin-top: 8px !important;
  font-size: 17px; }

.navbar-inner {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: white;
  min-height: 40px;
  background-image: none;
  border: none; }

.rankContainer {
  margin-top: 25px; }

.rankbar {
  margin-top: -19px;
  max-height: 45px;
  padding-top: 5px; }
  .rankbar #rankingName {
    float: left !important;
    margin-right: 25px; }
  .rankbar .rankingList li {
    position: relative;
    margin: -5px 5px 0 0;
    width: 35px;
    float: left; }
  .rankbar .rankingListProfile li {
    position: relative;
    margin: 0px 5px 0 0;
    width: 35px;
    float: left; }

#rankingPrivacy, #rankingFork {
  float: left;
  cursor: pointer;
  margin-right: 0.5em;
  margin-top: -0.25em; }

.rankingContainer {
  display: block;
  position: relative; }
  .rankingContainer .rankingNo.shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.18); }
  .rankingContainer .rankingNo, .rankingContainer .rankIcon {
    font-size: 10px;
    color: white;
    position: absolute;
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: -20px;
    left: 0;
    bottom: 0;
    right: 5px; }

.rankingTable tr {
  -webkit-transition: border-color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -webkit-transition-delay: 0s;
  -moz-transition: border-color;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -moz-transition-delay: 0s; }

.rankingTable tr:hover {
  border-color: gray; }

.rankingTable tr th {
  font-size: 21px; }

.ranking {
  margin: 5px;
  float: left; }

.btn-like {
  text-decoration: none !important;
  color: black !important; }

.scroll-container {
  overflow: hidden; }

.noOutline {
  outline: 0px solid transparent; }

.highlight {
  opacity: 1; }

.unhighlight {
  opacity: 0.5; }

.webkit-layer, .info-card {
  transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0); }

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.noSelect:focus {
  outline: 0px solid transparent; }

.absCenter, .info-card.presentation {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.center {
  display: block;
  margin: 0 auto; }

.cursor-pointer {
  cursor: pointer; }

.no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.subtle {
  opacity: 0.25; }

.subtle:hover {
  opacity: 0.75; }

body {
  margin: 1em; }

ul {
  list-style-type: none; }

.profile {
  display: inline-block;
  width: 75px;
  height: 75px;
  background-position: center center;
  background-size: cover;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.profile-mini {
  width: 15px;
  height: 15px; }

.info-card {
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.35) ;
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.35) ;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.35) ;
  position: relative;
  padding: 15px 15px 0 15px;
  width: 500px; }
  .info-card .minimize {
    display: none; }
  .info-card .header {
    overflow: auto; }
    .info-card .header .action {
      float: right; }
      .info-card .header .action li {
        float: left;
        margin: 0 5px;
        opacity: 0.5; }
      .info-card .header .action li:hover {
        opacity: 0.75; }
    .info-card .header .meta .name {
      font-size: 25px; }
    .info-card .header .meta .hash {
      font-size: 12px;
      color: gray; }
    .info-card .header .meta input {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border: none; }
    .info-card .header .meta .title-input {
      font-size: 25px;
      line-height: 30px;
      height: 30px;
      margin-bottom: -5px; }
    .info-card .header .meta .tag-input {
      font-size: 15px;
      line-height: 20px; }
  .info-card .content {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    overflow: auto; }
    .info-card .content .meta {
      margin: -15px 5px;
      float: right;
      color: gray;
      font-size: 12px; }
    .info-card .content .instruction {
      padding-top: 25px;
      text-align: center;
      display: block;
      margin: 0 auto;
      font-size: 25px;
      color: gray; }
  .info-card .content.editing {
    border: 5px dashed whitesmoke;
    height: 150px; }
  .info-card .content-highlight {
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2) inset; }
  .info-card .footer {
    background: #f5f5f5;
    padding: 10px 5px 5px 5px;
    height: 25px;
    width: 520px;
    margin: 10px -15px; }
    .info-card .footer .edit-tool {
      margin: -3px 2px 0 2px; }

.info-card.presentation {
  margin-top: 35px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  overflow-y: scroll; }
  .info-card.presentation .content.editing {
    display: none; }
  .info-card.presentation .footer {
    display: none; }

.btn-like {
  text-decoration: none !important;
  color: black !important; }

.scroll-container {
  overflow: hidden; }

.noOutline {
  outline: 0px solid transparent; }

.highlight {
  opacity: 1; }

.unhighlight {
  opacity: 0.5; }

.webkit-layer {
  transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0); }

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.noSelect:focus {
  outline: 0px solid transparent; }

.absCenter {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.center {
  display: block;
  margin: 0 auto; }

.cursor-pointer {
  cursor: pointer; }

.no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.sa-editor {
  position: fixed;
  background-color: white;
  display: block;
  right: 15px;
  bottom: -5px;
  z-index: 9999; }
