<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "stdHead.partial" %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/landing.css"/>
  </head>
  <body> 
    <div class="container-narrow">
      <div class="jumbotron">
        <div class="action hide">
          <a href="{% url 'default.views.SignupHandler' %}" class="btn btn-success" style=" margin-top: 2em; float: right; margin-left: 1em; "> Sign up</a>
          <span class="muted" style=" float: right; margin-top: 2.25em; margin-left: 0.5em; "> or</span>
          <a href="{% url 'default.views.SigninHandler' %}" style=" margin-top: 2.25em; float: right; "> Sign In</a> 
        </div>
        <h1 class="muted"> Cloverite is Community</h1>
        <h3 style="color: silver;">Find everything. In one place. </h3>
        <form method="GET" id="searchForm" action="{% url 'default.views.RedirectHandler' %}">
          <div class="input-append">
            <input autofocus id="searchInput" name="q" class="span5" type="text" placeholder="{{DEFAULT_QUERY}}">
            <button id="searchBtn" class="btn btn-success" type="button" ><i class="fa fa-search"> <span class="visible-desktop">Search </span></i></button>
          </div>
        </form>
      </div>
      <hr>
      
      <script>
        DEFAULT_QUERY = "{{DEFAULT_QUERY}}";
      </script>

      {% include "stdScript.partial" %}
      {% include "modelScript.partial" %}

      <script src="{{STATIC_URL}}script/landing.js"></script>
    </body>
  </html>
