<!DOCTYPE html>
<html lang="en">
<head>
  {% include "stdHead.partial" %}
</head>
<body>
  {% include "header.partial" %}

 <div class="container-narrow">
  <hr>
    <!--
    <div class="toolbar">
      <div class="btn-group btn-group-vertical">
        <button id="addNewEntity" class="btn"><i class="icon-plus"></i> New Entity</button>
      </div>
    </div>-->

    {% include "messageBox.partial" %}
     
    <div class="row-fluid">
      <div class="span4" id="col1"></div>
      <div class="span4" id="col2"></div>
      <div class="span4" id="col3"></div>
    </div>
  </div>
    
  {% csrf_token %}

  {% include "imageChangeModal.partial" %}

  {% if FEEDBACK_ENABLED %} 
    {% include "feedbackForm.partial" %}
  {% endif %}

  {% include "stdScript.partial" %}
  <script src="{{STATIC_URL}}script/app.js"></script> 

</body>
</html>
