<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "stdHead.partial" %}
  </head>

  <body>
    {% include "header.partial" %}
    {% include "rankHeader.partial" %}

    <div class="container-narrow">
      {% include "messageBox.partial" %}

      <div id="colRow" class="row-fluid hidden">
        <div class="span3" id="col1"></div>
        <div class="span3" id="col2"></div>
        <div class="span3" id="col3"></div>
        <div class="span3" id="col4"></div>
      </div>

      {% if specific_entity %}
        <div id="" class="row-fluid">
          <div class="span12">
            <ul id="myTab" class="nav nav-tabs">
              <li class="">
                <span href="#home" class="entityTitle">
                  <i title="Private" class="icon-lock" id="privacy-setting"> </i> 
                  <span id="entityTitle"></span>
                </span>
              </li>
              <li class="noSelect active"><a href="#attribute" data-toggle="tab"> Attribute</a></li>
              <li class="noSelect"><a href="#content" data-toggle="tab"> Content</a></li> 
              <li class="pull-right">
                <ul class="entityStats">
                  <!--
                  <li>
                    12 <i class="icon-bookmark icon-large"></i>
                  </li>
                  <li>
                    12 <i class="icon-heart icon-large"></i>
                  </li>
                  -->
                </ul>
              </li> 
            </ul>
          </div> 
        </div> 
        <div id="detailRow" class="row-fluid">
          <div class="span4" id="dr1"></div>
          <div class="span8" id="dr2">
            <div id="myTabContent" class="tab-content" style='overflow: visible;'>
              <div class="tab-pane active" id="attribute">
                <div class="hidden row-fluid">
                  <div id="col1" class="span6"></div>
                  <div id="col2" class="span6"></div>
                </div>
              </div>
              <div class="tab-pane" id="data">
                <div id="commentContainer" class="commentContainer">
                  <div class="timeline hidden-phone"></div>
                </div>
                {% include "comment.partial" %}
              </div>
              <div class="tab-pane" id="content">
              </div>
            </div>
          </div>
        </div>
      {% else %}
        <div id="rankingRow" class="row-fluid">
          <div class="span12" id="top1">
          </div>
          <div class="span5" id="top2">
          </div>
          <div class="span2" id="top3"></div>
        </div>
      {% endif %}
      <div id="mediaQuery" class="hidden-desktop" style="position:absolute;left:-1200px;"></div>
    </div>
      
    {% csrf_token %}

    {% include "imageChangeModal.partial" %}
    {% include "contentModal.partial" %}

    {% if FEEDBACK_ENABLED %} 
      {% include "feedbackForm.partial" %}
    {% endif %}

    {% if REQUEST_ENABLED %} 
      {% include "requestForm.partial" %}
    {% endif %}

    {% include "stdScript.partial" %}
    {% include "modelScript.partial" %}

    <script src="{{STATIC_URL}}script/app.js"></script> 

  </body>

</html>
