<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "stdHead.partial" %}
  </head>

  <body>

    {% include "header.partial" %}
    {% include "sideMenu.partial" %}

    <div class="container-narrow">
      {% include "messageBox.partial" %}

      <div id="detailRow" class="row-fluid">
        <div class="span3" id="dr1">
          <h2> Step 1</h2>
          <label class="checkbox toggle candy noSelect" style="margin-bottom: 2em;">
            <input id="publicCheckBox" type="checkbox" checked>
            <p>Privacy
              <span value='public'> <i class="icon-globe"> Public</i></span>
              <span value='private' ><i class="icon-lock"> Private</i></span>
            </p>
            <a class="slide-button"></a>
          </label>
        </div>
        <div class="span6 hidden" id="attribute">
          <h2> Step 2</h2>
        </div>
        <div class="span3 hidden" id="dr3">
          <h2> Step 3</h2>
          <h3 style="text-align: center;"> You are done!</h3>
        </div>
      </div>

      <div id="mediaQuery" class="hidden-desktop" style="position:absolute;left:-1200px;"></div>

    </div>
      
    {% csrf_token %}

    {% include "imageChangeModal.partial" %}

    {% if FEEDBACK_ENABLED %} 
      {% include "feedbackForm.partial" %}
    {% endif %}

    {% if REQUEST_ENABLED %} 
      {% include "requestForm.partial" %}
    {% endif %}

    {% include "stdScript.partial" %}
    {% include "modelScript.partial" %}

    <script src="{{STATIC_URL}}script/app.js"></script> 
  </body>

</html>
