<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "stdHead.partial" %}
  </head>
  <body>
    {% include "header.partial" %}
    {% include "sideMenu.partial" %}

    <div class="container-narrow">

      {% include "messageBox.partial" %}

      <div id="profileRow" class="row-fluid">

        <table id="Recommendation" class="rankingTable table span6">
          <tbody>
            <tr class="row title">
              <th colspan="2"> Recommendation</th>
            </tr>
          </tbody>
        </table>

        <table id="requestTable" class="rankingTable table span6">
          <tbody>
            <tr class="row title">
              <th colspan="2"> Request</th>
            </tr>
          </tbody>
        </table>

      </div>

      <div id="statusRow" class="row-fluid">
        <table id="discussionTable" class="rankingTable table span6">
          <tbody>
            <tr class="row title">
              <th colspan="2"> Rankings</th>
            </tr>
            <tr class="row">
              <td style="width:10%;" class="tdDivider text-h-center text-v-center noSelect">
                <i style="font-size: 2em;" data-toggle="tooltip" title="positive" class="icon-user red-heart">
                  <span class="noSelect toneText"> npc3232</span></i>
              </td>
              <td class="head">
                <h5> What about Final Fantasy X?</h5>
              </td>
            </tr>
          </tbody>
        </table>

        <table id="settingTable" class="rankingTable table span6">
          <tbody>
            <tr class="row title">
              <th colspan="2"> Setting</th>
            </tr>
            <tr class="row">
              <td style="width: 10%" class="tdDivider text-h-center text-v-center noSelect">
                <i style="font-size: 2em;" data-toggle="tooltip" title="positive" class="icon-cog"></i>
              </td>
              <td style="width: 90%" class="head">
                <div>
                  <a href="#changePassword">
                    <span>Change Password</span>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

      </div>


      <div id="mediaQuery" class="hidden-desktop" style="position:absolute;left:-1200px;"></div>

    </div>
      
    {% csrf_token %}

    {% if FEEDBACK_ENABLED %} 
      {% include "feedbackForm.partial" %}
    {% endif %}

    {% if REQUEST_ENABLED %} 
      {% include "requestForm.partial" %}
    {% endif %}

    {% include "stdScript.partial" %}
    {% include "modelScript.partial" %}

    <script src="{{STATIC_URL}}script/app.js"></script> 
  </body>

</html>
