<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "stdHead.partial" %}
  </head>
  <body>
    {% include "header.partial" %}

    <div class="container-narrow">

      {% include "messageBox.partial" %}

      <div id="profileRow" class="row-fluid">
      </div>

      <div id="mediaQuery" class="hidden-desktop" style="position:absolute;left:-1200px;"></div>

    </div>
      
    {% csrf_token %}

    {% if FEEDBACK_ENABLED %} 
      {% include "feedbackForm.partial" %}
    {% endif %}

    {% if REQUEST_ENABLED %} 
      {% include "requestForm.partial" %}
    {% endif %}

    {% include "stdScript.partial" %}
    {% include "modelScript.partial" %}

    <script src="{{STATIC_URL}}script/app.js"></script> 
  </body>

</html>
