<!DOCTYPE html>
<html lang="en">
<head>
  {% include "stdHead.partial" %}
</head>
<body>

  {% include "header.partial" %}

  <div class="container-narrow">
    <hr>
    <div class="row-fluid">
      <div class="span5">
        <form id="leftSearchForm" method="GET" class="navbar-search" action="/">
          <div class="input-append">
            <input type="search" name="q" placeholder="Search">
            <button id="leftSearchBtn" class="btn btn-success" type="button"><i class="icon-search"></i></button>
          </div>
        </form>
      </div>
      <div class="span2">
        <div class="outer">
          <button id="linkBtn" class="inner btn"><i class="icon-plus"></i> New Link</button>
        </div>
      </div>
      <div class="span5">
        <form id="rightSearchForm" method="GET" class="pull-right navbar-search" action="/">
          <div class="input-append">
            <input type="search" name="q" placeholder="Search">
            <button id="rightSearchBtn" class="btn btn-success" type="button"><i class="icon-search"></i></button>
          </div>
        </form>
      </div>
    </div>
    <div class="row-fluid">
      <div id="col1" class="span3"></div>
      <div id="" class="span1"></div>
      <div id="col2" class="span4"></div>
      <div id="" class="span1"></div>
      <div id="col3" class="span3"></div>
    </div>
    <div id="mediaQuery" class="hidden-desktop" style="position:absolute;left:-1200px;"></div>
  </div>
    
  {% csrf_token %}

  {% include "imageChangeModal.partial" %}

  {% if FEEDBACK_ENABLED %} 
    {% include "feedbackForm.partial" %}
  {% endif %}

  {% include "stdScript.partial" %}
  {% include "modelScript.partial" %}

  <script src="{{STATIC_URL}}script/app.js"></script> 

</body>
</html>
