<!DOCTYPE html>
<html lang="en">
<head>
  {% include "stdHead.partial" %}
</head>
<body>
  <div class="container-narrow">
    <div class="padding"></div>
    <span class="noSelect muted home-btn center" style="text-align: center; padding: 25px 25px 0 25px;">
      Cloverite
    </span>
    <form id="signup-form" class="form-signin" method="post" action="{% url 'default.views.SignupHandler' %}">
      {% csrf_token %}
      <h2 class="form-signin-heading">New Account</h2>
      <hr>
      <input name="username" type="text" placeholder="Username" class="input-block-level" id="username" required>
      <input name="email" type="text" placeholder="Email" class="input-block-level" id="email" required>
      <input name="password" type="password" placeholder="Password" class="input-block-level" id="pwd" required>
      <hr>
      <a href="signin" class="pull-left">Already have account?</a>
      <input value="Sign Up" type="submit" class="pull-right btn btn-success">
      <div class="break break-mini"></div>
    </form>
  </div>
</div>

{% if FEEDBACK_ENABLED %} 
  {% include "feedbackModal.partial" %}
{% endif %}

{% include "stdScript.partial" %}
<script src="{{STATIC_URL}}script/userForm.js"></script> 

</body>
</html>
