<!DOCTYPE html>
<html lang="en">
<head>
  {% include "stdHead.partial" %}
</head>
<body>
  {% include "header.partial" %}

  <div class="container-narrow">
    <div class="break"></div>
    <div class="custom-form">
      <h3>Create a new Cloverite Account</h3>
      <hr>
      <form id="signupForm" enctype="multipart/form-data" class="form-horizontal" method="post" action="{% url 'default.views.SignupHandler' %}">
        {% csrf_token %}

        <div class="pull-left">
          <div>Collect ratings, Create Private Entities </div>
        </div>
        <div class="pull-right well">
          <div class="control-group">
            <input type="text" class="span3" name="username" placeholder="Username" required>
          </div>
          <div class="control-group">
            <input type="email" class="span3" name="email" placeholder="Email" required>
          </div>
          <div class="control-group">
            <input type="text" class="span3" name="first_name" placeholder="First Name" required>
          </div>
          <div class="control-group">
            <input type="text" class="span3" name="last_name" placeholder="Last Name" required>
          </div>
          <div class="control-group">
            <input name="password" class="span3" type="password" placeholder="Password" required>
          </div>
          <hr>
          <button class="submitBtn pull-right btn btn-success">Sign up</button>
        </div>
      </form>
    </div>
  </div>

 {% include "stdScript.partial" %}
 <script src="{{STATIC_URL}}script/userForm.js"></script> 

</body>
</html>
