<!DOCTYPE html>
<html lang="en">
<head>
  {% include "stdHead.partial" %}
</head>
<body>
  {% include "header.partial" %}

  <div class="container-narrow">
    <hr><div class="break"></div>
    <form id="signinForm" class="form-signin" method="post" action="{% url 'default.views.SigninHandler' %}">
      {% csrf_token %}

      <h2 class="form-signin-heading">Sign In</h2>
      <div class="break break-mini"></div>

      <input name="email" type="text" placeholder="Email address" class="input-block-level" id="email">
      <input name="password" type="password" placeholder="Password" class="input-block-level" id="pwd">

      <hr>
      <a href="signup" class="pull-left">Create an Account</a>
      <input value="Sign In" type="submit" class="pull-right btn btn-success">
      <div class="break break-mini"></div>
    </form>
  </div>

 {% include "stdScript.partial" %}
 <script src="{{STATIC_URL}}script/userForm.js"></script> 

</body>
</html>
